<h3 class="mx-3"> Utilizzo delle varie sezioni dell'applicazione:</h3>
<ul class="mx-3">
  <li><strong>Lista pazienti:</strong> mostra la lista dei pazienti ricoverati, inoltre in tabella, è possibile visualizzare i pazienti in salute (in verde) e i pazienti a rischio (in rosso) e cliccare sul paziente specifico per vedere nel dettaglio lo stato di salute. E' possibile utilizzare una ricerca filtrata per nome, data di nascita e genere</li>
  <li><strong>Lista attività:</strong> mostra la lista delle possibili attività svolte dai pazienti</li>
</ul>
