<h1 class="text-center">Benvenuto nella pagina pazienti</h1>
<h2 class="text-center">Qui potrai gestire tutti i tuoi pazienti</h2>
<div>
    <button (click)="cambiaRotta('pazienti')" class="mx-3 btn btn-success">Home pazienti</button>
    <button (click)="cambiaRotta('pazienti/lista-pazienti')" class="mx-3 btn btn-success">Lista pazienti</button>
    <button (click)="cambiaRotta('pazienti/lista-attivita')" class="mx-3 btn btn-success">Lista attività</button>
</div>
<router-outlet></router-outlet>
