<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nome e Cognome</th>
      <th scope="col">Genere</th>
      <th scope="col">Data di Nascita</th>
      <th scope="col">Peso</th>
      <th scope="col">Altezza</th>
      <th scope="col">bmi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaPazienti" [ngClass]="sceltaColore(item.summary)" (click)="cambiaRotta('pazienti/paziente/'+ item.id)">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.birthDate}}</td>
      <td>{{item.weightKg}}</td>
      <td>{{item.heightCm}}</td>
      <td>{{item.bmi}}</td>
    </tr>
  </tbody>
</table>
